.crearEvento, .enviarCorreo, .modificar-info{
    width: 50%;
    margin: auto;
}

select{
    height: 40px;
}

@media (max-width: 700px) {
    .crearEvento, .enviarCorreo, .modificar-info{
        width: 95%;
    }
}